body {
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }

.wizard {
  display: none;
}

.wizard.active{
  display: block;
}

.actions {
  margin-top: 5px;
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

.subform > .container-fluid{
  border:1px #ccc solid;
  margin-bottom: 10px;
}

.subform-wrapper {
  border-top: #eee solid 1px;
  /* margin-top: 10px; */
  padding-top: 10px;
}

.subform-wrapper:first-child{
  border-top: 0;
}

.subform-remove{
  cursor: pointer;
}