html{
  font-size: 14px;
}

body {
    padding-top: 50px;
    transition: .5s ease all;
    /* color: white; 
    background-color: #ED4597; */
    font-size: 1.2em;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }

.wizard {
  display: none;
}

.wizard.active{
  display: block;
}

.form-content > h1 {
  border-bottom: 1px solid;  
  padding-bottom: 20px;
  margin-bottom: 20px;  
}

.actions {
  margin-top: 5px;
  margin-bottom: 5px;
}

textarea {
  resize: none;
}

.subform > .container-fluid{
  /* border:1px #ccc solid; */
  margin-bottom: 10px;
}

.subform-wrapper {
  border-bottom: #eee solid 2px;
  /* margin-top: 10px; */
  padding-top: 10px;
}

.subform-wrapper:first-child{
  border-top: 0;
}

.subform-wrapper > .row{
  margin-bottom: 10px;
}



/* Buton */
.subform-remove{
  cursor: pointer;

}

.form-btn {
  cursor: pointer;
}

.form-btn:hover{
  text-decoration: underline;
}


.form-control{
  border:3px solid white;
  height: 40px;
  font-size: inherit;
}

.datepicker {
  color:#333;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  /* color: #468847; */
  /* background-color: #DFF0D8; */
  
  border: white;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  /* color: #B94A48;
  background-color: #F2DEDE; */
  border-color: #900;
}

.component-label {
  font-size: 24px;
}
.logo-container  {
  min-height: 500px;
}
.logo{
  /* display: block;
  margin: auto;
  max-width: 100%; */

  display: block;
  margin: auto;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.message {
  margin-top: 20%;
}

.message h2{
  margin-top: 0;
}

.message h4{
  line-height: 25px;

}
.message .btn {
  margin-top: 35px;
}
.message p{
  font-weight: bold;
  font-size: 20px;
}

